html
	head
		title= 'CO227'
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
		script(src="https://code.getmdl.io/1.3.0/material.min.js")
		body
		h3= 'CO227 Informational ChatBot Server'
		p  An intelligent chabot capable of providing useful information to students
