html
	head
		title= 'Facebook Verification - Valid'
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
		script(src="https://code.getmdl.io/1.3.0/material.min.js")
		body
		h3= 'Facebook Verification - Successful'
		br
		a(href="http://m.me/1967815400102018") Proceed to PeraInfoBot
